.sale {
    background-color: grey;
    font-weight: 700;
    display:flex;
    justify-content: center;
    font-size: 1.1rem;
    padding: 6px 75px;
}

.p {
    margin: 0px;
}

.span {
    color:white;
}