.nav {
    background-color: black;
    font-size: 1rem;
    padding: 20px 75px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
}

.logo {
    width: 100px;
    height: 100px;
}

.ul {
    list-style-type: none;
    color: whitesmoke;
    display: flex;
    gap: 120px;
    padding: 15px 30px;
}

.list {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
}

.list:visited {
    color: whitesmoke;
}

.icon {
    padding: 14px;
}